a {
  cursor: pointer;
}


#display {
 background-color:#000000;
 color:#FFFFFF;
 border: 3px solid black;
 border-radius: 10px;
 font-size: 60px;
 height: 80px;
 width: 320px; 
 margin: 0 auto;
 margin-bottom: 10px;
 text-align: right;
 
}

#calculator {
  border: 3px solid black;
  border-radius: 10px;
  height: 500px;
  width: 330px;
  margin: 10px auto; 
  padding: 5px;
}

#numbers a{
border: 2px solid black;
border-radius: 10px;
background-color: #DCDCDC;
color:#000000;
display: block;
float: left;
font-size: 43px;
height: 50px;
width: 50px;
text-align: center;
margin: 5px 15px ;
padding: 10px;

}


#operators a {
 border: 2px solid black;
 border-radius: 10px;
 color: #FFFFFF;
 background-color:#FFA500; 
 display: block;
 float: left;
 font-size: 39px;
 height: 45px;
 width: 45px;
 margin: 5px 6px;
 padding: 2px;
 text-align: center;
}

  


